/* src/styles/components/SearchSuggestions.module.css */

.suggestionsList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 600px;
    position: absolute; /* Đặt vị trí tuyệt đối */
    top: 55px; /* Điều chỉnh vị trí dưới khung search */
    background-color: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(32, 33, 36, 0.28);
    z-index: 1000;
    max-height: 200px; /* Giới hạn chiều cao */
    overflow-y: auto; /* Thêm thanh cuộn nếu cần */
}

.suggestionItem {
    padding: 12px 16px;
    cursor: pointer;
    font-size: 16px;
    color: #202124;
    border-bottom: 1px solid #e0e0e0;
}

.suggestionItem:hover {
    background-color: #f1f3f4;
}
.suggestionIcon {
    margin-right: 8px;
    font-size: 16px;
    color: #5f6368;
}